# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\layla\Google Drive\ISMAI\6º Semestre\Computação na Nuvem\Projeto_Bruno_Layla\frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
