@import url(//db.onlinewebfonts.com/c/1db29588408eadbd4406aae9238555eb?family=Consolas);

body{
  background-color: #002050;
  font-family: Consolas,monaco,monospace; 
}

.App {
  text-align: center;
  background-color: #002050;
  color: white;
  font-size: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-form {
  width: 530px;
  magin:auto;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin: auto;
}

.register-item {
  align-self: flex-start;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
